{% load static %}



  <header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="{{ home_banner_image.url }}" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="index.html" class="logo d-flex align-items-center justify-content-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="img/logo.png" alt=""> -->
      <h1 class="sitename">Ergün Şaylan</h1>
    </a>

    <div class="social-links text-center">
        {% for SocialMedia in SocialMedias %}
            <a href="{{ SocialMedia.link }}" target="_blank" >{{ SocialMedia.icon|safe }}</a>
        {% endfor %}
    </div>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
        <li><a href="#about"><i class="bi bi-person navicon"></i> About</a></li>
        <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
        <li><a href="#services"><i class="bi bi-code navicon"></i> Projects & Certificates</a></li>
          {% for document in Documents %}
        <li><a href="{{ document.file.url }}" target="_blank"><i class="bi bi-file-person navicon"></i> Professional Profile </a></li>
          {% endfor %}
        <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
      </ul>
    </nav>

  </header>